html {
    background-color: rgba(190, 190, 190, 0.534);
}
nav a {
    text-decoration: none;
    color: #ff8A00; 
    cursor: pointer;
   }

nav {
    background-color: rgba(24, 24, 24, 0.719);
    flex-wrap: wrap;
    display: flex;
    border-bottom: 4px solid #ff8A00;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Content{
    flex-wrap: wrap;
    display: flex;
    margin-top: 20px;
    margin-left: 600px;
    gap: 30px;
    font-weight: 500; 
    font-size: 20px;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}